/* jssor slider arrow navigator skin 02 css */
/*
.jssora02l              (normal)
.jssora02r              (normal)
.jssora02l:hover        (normal mouseover)
.jssora02r:hover        (normal mouseover)
.jssora02ldn            (mousedown)
.jssora02rdn            (mousedown)
*/
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(./img/a02.png) no-repeat;
    overflow:hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02ldn { background-position: -3px -33px; }
.jssora02rdn { background-position: -63px -33px; }